<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Twitter Addon</title>

        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
        <link rel="stylesheet" href="{{ url_for('static', filename='addon.css') }}" type="text/css"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='iframe.min.js') }}"></script>
        <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='dialog.js') }}"></script>

        <script>
            var id = "{{id}}";
            var roomId = "{{roomId}}";
            var groupId = "{{groupId}}";
            var groupName = "{{groupName}}";
            var senderId = "{{senderId}}";
            var senderName = "{{senderName}}";

            console.log("id ->", id);
            console.log("roomId ->", roomId);
            console.log("groupId ->", groupId);
            console.log("groupName ->", groupName);
            console.log("senderId ->", senderId);
            console.log("senderName ->", senderName);

            // var baseUrl = "{{baseUrl}}";
            var signed_request = "{{signed_request}}";
            console.log("signed_request ->", signed_request);
        </script>
    </head>
    <body class="aui-page-hybrid addon">
        <section id="content" role="main" class="ac-content">
            {% block body %}
            {% endblock %}
        </section>
    </body>
</html>