{% extends "base.html" %}
{% block body %}
    <div>
        <h3>This is a dialog !</h3>

        <h6> a list of info about this room and you: </h6>
        <table>
            <tr>
                <td>id: </td>
                <td>{{id}}</td>
            </tr>
            <tr>
                <td>roomId: </td>
                <td>{{roomId}}</td>
            </tr>
            <tr>
                <td>groupId: </td>
                <td>{{groupId}}</td>
            </tr>
            <tr>
                <td>groupName: </td>
                <td>{{groupName}}</td>
            </tr>
            <tr>
                <td>senderId: </td>
                <td>{{senderId}}</td>
            </tr>
            <tr>
                <td>senderName: </td>
                <td>{{senderName}}</td>
            </tr>
        </table>


        <p>click the btn below to send a card to conversation area.</p>
        <button class="aui-button" id = "sendCard">Send Card</button>
    </div>
{% endblock %}