{% extends "base.html" %}
{% block body %}

    <div>
        <table>
            <tr>
                <td>id: </td>
                <td>{{id}}</td>
            </tr>
            <tr>
                <td>roomId: </td>
                <td>{{roomId}}</td>
            </tr>
            <tr>
                <td>groupId: </td>
                <td>{{groupId}}</td>
            </tr>
            <tr>
                <td>groupName: </td>
                <td>{{groupName}}</td>
            </tr>
            <tr>
                <td>senderId: </td>
                <td>{{senderId}}</td>
            </tr>
            <tr>
                <td>senderName: </td>
                <td>{{senderName}}</td>
            </tr>
        </table>
    </div>
    <!-- <div>
        <button class="aui-button" id = "openDialog">Open Dialog</button>
    </div> -->
    <div>
        <button class="aui-button" id = "sendCard">Send Card</button>
    </div>
    <div>
        <button class="aui-button" id = "refreshGlance">Refresh Glance</button>
    </div>
{% endblock %}